* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    font-weight: 200px;
}

header {
    background-color:#044484;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 13px;
    padding: 40px 15px 40px 15px;
    text-align: center;
}

main {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 13px;
    padding: 40px 15px 40px 15px;
}

.secao1 {
    padding: 10px;
    color:#f49404
}

h2 {
    font-size: 18px;
}

footer {
    background-color:#044484;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 12px;
    padding: 20px;
    text-align: center;
}

article {
    margin: 15px 0px;
    width: 20%;
    display: inline-block;
    text-align: center;
}